{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Mineralbestimmung im digitalen Revier</h1>
                <hr>
                <p>Eine Lern-Anwendung für das Fach Geowissenschaften</p>
                <a href="http://app.geomat.uni-frankfurt.de" class="btn btn-light btn-xl page-scroll">GeoMat App v0.2</a>
                <hr>
                <!--a href="http://preview.geomat.uni-frankfurt.de" class="btn btn-light btn-xl page-scroll">v1.0 Relaunch Vorschau</a>
                <hr-->
                <a href="#idea" class="btn btn-primary btn-xl page-scroll">Über das Projekt</a>

            </div>
        </div>

    </header>

    <section class="bg-primary" id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-left">
                    <h2 class="section-heading">Maßgeschneiderte Lehrinhalte </h2>
                    <hr class="light" align="left">
                    <p class="text-faded">
                        GeoMat <em>digital</em> ist eine speziell für das Studium der Geowissenschaften an der <span class="rwd-line"><a
                        href="http://www.uni-frankfurt.de" target="_blank">Goethe-Universität Frankfurt</a></span> entworfene Lernanwendung.
                    </p>
                    <p class="text-faded">
                        Die Web-App eröffnet Studierenden einen zusätzlichen Zugang zur makroskopischen Mineralbestimmung mit Hilfe einer digitalen Sammlung hochauflösender Makroaufnahmen der prüfungsrelevanten Handstücke.
                    </p>
                    <p class="text-faded">
                        GeoMat <em>digital</em> ist aber nicht nur ein Bildbetrachter, sondern eine vielseitige Lernanwendung, die unter didaktischen und wissenschaftlichen Gesichtspunkten entwickelt wurde und sich nahtlos in die Präsenzlehre einfügt.
                    </p>

                    <h2 class="section-heading">Vom Staunen zum Expertenblick</h2>
                    <hr class="light" align="left">

                    <p class="text-faded">
                        Eine erfolgreiche Bestimmung ist vor allem eine Frage der Strategie: Laien und Einsteiger bewerten ein Objekt meist nach seinem optischen Gesamteindruck und gleichen es mit auswendig gelernten Bildern ab. Eine wissenschaftlich exakte Bestimmung erfordert jedoch den Blick auf die genauen Merkmale und Eigenschaften eines konkreten Stücks.
                    </p>
                    <p class="text-faded">
                        GeoMat <em>digital</em> hilft Schritt für Schritt dabei, Minerale wie ein Experte zu betrachten und den eigenen Lernprozess zu reflektieren. Verschiedene Werkzeuge lenken den Blick von allgemeinen Aussehen hin zur systematischen Beobachtung von Details.
                    </p>
                    <p class="text-faded">
                        Die Makroskopische Mineralbestimmung ist aber auch eine Frage der Übung: Die virtuelle Sammlung steht mit GeoMat <em>digital</em> jederzeit auf PC oder Tablet zur Verfügung &ndash; oder man kann sie einfach mit dem Smartphone in die Tasche stecken.
                    </p>
                    <h2 class="section-heading">Von der Virtualität in die Realität</h2>
                    <hr class="light" align="left">
                    <p class="text-faded">
                        Natürlich lernt man am besten am realen Objekt - daher funktioniert das erfolgreiche Erlernen der Bestimmung eine gute Verzahnung mit der Lehre für ein sinnvolles Hand-in-Hand zwischen der Arbeit an den echten Stücken und der Vertiefung in GeoMat <em>digital</em>.
                    </p>
                    <p class="text-faded">
                        Die Grundlage hierfür bietet ein didaktisches Konzept, das die Erfahrungen aus der Lehrveranstaltung einbezieht und die Entwicklung der Anwendung begleitet hat. Virtuelle Werkzeuge wie Glossar, 3D-Visualisierungen, Quizfragen oder eine Bestimmungsanleitung stellen nützliche Funktionen zur Verfügung, die der Lehrveranstaltung eine zusätzliche didaktische Dimension erschließen.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>virtuelle Sammlung</h3>
                        <p class="text-muted">Virtuelle Sammlung mit hoher Auflösung und maximaler Schärfentiefe</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-question-circle wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Selbsttests</h3>
                        <p class="text-muted">Quizfragen als Selbsttests mit ausführlichem Feedback zur Wiederholung und Vertiefung</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".2s"></i>
                            <h3>Werkzeuge</h3>
                            <p class="text-muted">Steckbriefe, Glossar, Bestimmungshelfer, 3D-Visualisierungen, ...
                            </p>
                        </div>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>von Studierenden</h3>
                        <p class="text-muted">Erstellt mit Blick auf den Lernprozess aus studentischer Perspektive 
                        </p>
                    </div>
                </div>

        </div>
    </section>

    <section class="bg-dark" id="technical">
        <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-left">
                        <h2 class="section-heading">Technik</h2>
                        <hr class="light" align="left">
                        <p class="text-faded">
                            Die aktuelle Entwicklungsversion GeoMat <em>digital</em> ist eine Angular-Web-App und läuft auf beliebigen Endgeräten im Browser.
                        </p>
                    </div>
                </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Kontakt</h2>
                    <hr class="primary">
                    <p>GeoMat <em>digital</em> ist ein Projekt in Entwicklung. Diese Informationsseite wird von Zeit zu Zeit um neue Impressionen ergänzt.</p>
                    <p>Unterstützt wurde das Projekt vom
                       <br>
                       <span class="rwd-line">
                            <a class="contact-a" href="http://www.ifg.uni-frankfurt.de/" style="color:#cc5400;">eLearning-Förderfonds</a> der Goethe-Universität,
                            <br>
                            vom
                       </span>
                                <span class="rwd-line">
                            <a class="contact-a" href="http://www.ifg.uni-frankfurt.de/" style="color:#cc5400;">Institut für Geowissenschaften</a>
                        </span>
                        am FB11 der Goethe-Universität Frankfurt
                        <br>und vom
                        <span class="rwd-line"><a class="contact-a" href="http://www.starkerstart.uni-frankfurt.de/38922940/ZNWK">
                            Zentrum Naturwissenschaften</a>
                        </span>.</p>
                    <p>Fragen zum Projekt beantwortet Bertram Bühner telefonisch oder per E-Mail.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+49 (69) 798 29562</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a class="contact" href="mailto:buehner@starkerstart.uni-frankfurt.de">buehner@starkerstart.uni-frankfurt.de</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="Partner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 text-center">
                        <img src="{% static 'common/images/logos/StarkerStart2_80.png' %}">
                    </div>
                    <div class="col-lg-3 col-md-4 text-center">
                            <img src="{% static 'common/images/logos/ZentrumNaturwissenschaften_80.png' %}">
                        </div>
                    <div class="col-lg-3 col-md-4 text-center">
                            <img src="{% static 'common/images/logos/eLF_80.png' %}">
                        </div>
                    <div class="col-lg-3 col-md-4 text-center">
                            <img src="{% static 'common/images/logos/PhysikOnline_80.png' %}">
                        </div>
    
            </div>
        </section>
    


{% endblock %}
