POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=d+qr6il$6iu7ab10*#%ulp@e8chz-*eukfg%gto43t&lw_lda)
DJANGO_ALLOWED_HOSTS=.geomat.idiotism.us
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_MAILGUN_API_KEY=
DJANGO_MAILGUN_SERVER_NAME=
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SENTRY_DSN=


