[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-environ = "*"
whitenoise = "*"
django-braces = "*"
django-crispy-forms = "*"
django-model-utils = "*"
django-allauth = "*"
"psycopg2" = "*"
awesome-slugify = "*"
pytz = "*"
django-stdimage = "*"
djangorestframework = "*"
Pillow = "*"
Markdown = "*"
django-filter = "*"
django-stdimage-serializer = "*"
coreapi = "*"
Pygments = "*"
django-cors-headers = "*"
gevent = "*"
gunicorn = "*"
django-anymail = "*"
raven = "*"
ipython_genutils = "*"
drf-yasg = "==1.13.0"
django-rosetta = "*"
django-mptt = "*"
mutagen = "*"

[dev-packages]
coverage = "*"
django_coverage_plugin = "*"
Sphinx = "*"
django-extensions = "*"
Werkzeug = "*"
django-test-plus = "*"
factory_boy = "*"
django-debug-toolbar = "*"
ipython = "*"
ipdb = "*"
pytest-django = "*"
pytest-sugar = "*"
django-rosetta = "*"
pytest-cov = "*"
codecov = "*"
