{% extends "base.html" %}

{% block content %}
<h1>Hello.</h1>
<p>Aktuell befindet sich Geomat in einer sehr frühen Alpha-Version. Die einzige Funktionalität findet sich derzeit im Adminbereich. Dort kann man als freigeschalteter Nutzer die einzelnen Einträge der Handstücke verwalten.</p>
<ul>
    <li><a href="/admin/" title="Ab zum Adminbereich!">Adminbereich</a></li>
    <li><a href="/admin/stein/handpiece/" title="Liste der Handstücke im Adminbereich">Handstücke im Adminbereich</a></li>
</ul>
<p>Damit man auf den Adminbereich zugreifen kann, muss man sich zuerst registrieren. Dies erfolgt <a href="/accounts/signup/" title="Registrierung">hier</a>. Nachdem man seine E-Mail Adresse bestätigt hat, muss man nur noch von einem anderen Administrator freigeschaltet werden und kann mit dem Hinzufügen der Daten beginnen.</p>
<p>Das Design der Seite ist aktuell sehr schlicht und spiegelt auch in keinsterweise das endgültige Design des fertigen Produkts wieder. Desweiteren werden die hinzugefügten Handstücke aktuell auch nicht für Besucher angezeigt und können nur im Adminbereich eingesehen werden.</p>
{% endblock content %}
